* {
  margin: 0px;
  padding: 0px;
}
/* AQUI EMPIEZA EL HEADER */
/*navbar primero en el móvil (mobile first)*/
header {
  background-image: url(/img/Youth-Soccer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 500px;
  display: flex;
  justify-content: flex-end;
}
h1 {
  margin: auto;
  justify-content: flex-end;
}
/* header div .logo img */

.logo a img {
  width: 10%;
}
nav {
  padding: 0em;
  font-family: "Verdana", "Geneva", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #333;
  /*  display: block; */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  display: flex;
  padding-top: 10px;
}
nav li a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
}

nav li a:hover {
  background: tomato;
  color: white;
}

/* @media-query */

@media screen and (min-width: 480px) {
  nav ul {
    display: flex;
    flex-wrap: wrap;
  }

  nav li {
    /*la caja puede crecer para ocupar todo el espacio disponible */
    flex-grow: 1;
    text-align: center;
  }
}
/* Aqui acaba el header */
.subtitle {
  color: whitesmoke;
  background-color: rgb(22, 57, 212);
  text-align: center;
  padding: 10px;
}
/* Margenes h3 */
.subtitulop {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.pmarg {
  margin: 0.5rem;
}

article {
  width: 80%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
/* CSS HOME */
.homeevents {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.august,
td,
th {
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
}

/* THIS FUNCTION IS FOR HAVE SAME SIZE IN VERY ROW  */

.august td,
th {
  height: 50px;
  width: 100px;
}
.august td:hover {
  background-color: blue;
}

/* FIN CSS HOME */

/* INICIO GAMES&RULES */
.rules {
  display: flex;
  flex-direction: column;
  margin: 10%;
}

.rules ul {
  margin: 20px;
}
.rules ol {
  margin: 20px;
}
.neg {
  font-weight: bold;
}

/* FIN  GAMES&RULES */

/* INICIO GAMEINFO */

.gameinfo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

table,
td,
th {
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
}

/* THIS FUNCTION IS FOR HAVE SAME SIZE IN VERY ROW  
preguntar porque segun que tamanyos no respeta para 50px is ok*/
td,
th {
  height: 50px;
  width: 100px;
}
td:hover {
  background-color: blue;
}
.underline {
  text-decoration: underline;
  margin-bottom: 20px;
}

/* INICIO REGISTER PAGE */
.cajafn input {
  background-color: yellow;
}
.cajafc input {
  background-color: yellow;
  width: 30%;
}

.cajafn,
.cajafc,
.cajafb {
  background-color: turquoise;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 2px;
}

.nombre,
.apellido {
  width: 40%;
}

.adress input,
.guardian input {
  width: 100%;
  background-color: violet;
}

.cajafs {
  display: flex;
}

.schoolfcheckt {
  display: flex;
  flex-direction: column;
}
.lastcheck2 {
  display: flex;
  flex-direction: column;
}
.boxexto {
  display: flex;
}
.schoolcf {
  justify-self: flex-start;
}
